.card__title-container {
  background-color: #fff;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 85px;
  cursor:default;
}
