.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .profile {
    max-width: 320px;
    padding: 28px 0 0 0;
    flex-direction: column;
  }
}
