.header__user-email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  margin: 6px 23px 0 0;
  padding: 0;
}
